.section-creations {
  text-align: center;
  --space: 2rem;
  padding: 0 2rem 8rem;

  & .flex {
    flex-direction: column;
  }

  @media screen and (min-width: 40em) {
    & .flex--1 {
      flex-direction: row;
      align-items: center;
    }
  }

  & .split > * {
    flex-basis: 25%;
    position: relative;
    z-index: -1;
  }

  & picture {
    position: relative;
    z-index: 10;
  }

  & .shades {
    background: linear-gradient(
      40deg,
      rgba(0, 0, 0, 0.6) 0 20%,
      transparent 100%
    );
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
  }

  & .imageBox__caption {
    text-align: left;
    position: absolute;
    z-index: 20;
    width: 8rem;
    top: 70%;
    left: 6.5rem;
    transform: translate(-50%, -50%);

    @media screen and (min-width: 40em) {
      & {
        top: 85%;
        left: 5.5rem;
      }
    }

    @media screen and (min-width: 60em) {
      & {
        top: 85%;
        left: 7rem;
        width: 11rem;
      }
    }
  }
}
